.login_home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.login_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(181, 118, 240), rgb(206, 164, 245), rgb(234, 225, 238), white, transparent);
}


.loginFormComponent, .signUpForm {}

.signUpForm {
    width: 100%;
    margin-left: -100px;
}

.loginForm {
    width: 100%;
}

.login_bar .loginBack2_Img {
    z-index: 2;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#darkImgx {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#lightImgx {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}



@media (max-width: 700px) {
    .login_home {
        flex-direction: column;
    }

    .loginForm {
        margin-top: 0px;
        /* background: white; */
        height: 90%;
    }

    .loginFormComponent, .signUpForm {
        margin-top: -200px;
        background: transparent;
        padding: 8px;
        border-width: 0px;
        box-shadow: 0px 0px 0px white;
    }

    .login_bar .loginBack2_Img {
        width: 50%;
    }
}