.App {
  text-align: center;
}

.AppBar{
  background: linear-gradient(to right, blueviolet, rgb(105, 16, 187));
}




.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
